/* HOMEPAGE */
.gallery-slideshow-container {
    background-size: cover;
    height: 700px;
}

.slideshow-next-btn, .slideshow-previous-btn {
    padding: 50px 20px;
    border: none;
    background-color: #EEF2EC;
    opacity: 40%;
    cursor: pointer;
}

.gallery-slideshow-bg {
    background-color: #F9F9F9;
}

.button-flex-wrap {
    padding-top: 250px;
    display: flex;
    justify-content: space-between;
}

/* GALLERY PAGE */
.mini-images-container {
    display: flex;
    flex-wrap: wrap;
}
.mini-img {
    height: auto;
    width: 250px;
}