.header-icons-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4B4B4B;
}

#header-header {
    margin: 0;
    padding: 5px;
}
.search-lens {
    height: auto;
    width: 100%;
    padding: 5px;
    max-width: 20px;
}

.media-icon {
    padding: 5px;
    color: #4B4B4B;
    font-size: 1.5rem;
}

.nav-search-wrap {
    display: flex;
}

.search-label {
    display: none;
}

#search {
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #4B4B4B;
}

.search-wrap {
    display: flex;
    align-items: center;
}