/* CONTENT AND SIDEBAR */
.content-sidebar-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: solid 1px #e7e7e7;
    border-radius: 5px;
    margin-bottom: 10px;
}

.content-sidebar-c {
    background-color: #F9F9F9;
}

.content-sidebar-s {
    background-color: #F9F9F9;
    padding: 10px;
}

/* DISPLAY FLEX */
.flex-wrap {
    display: flex;
    justify-content: space-between;
}

@media(min-width: 1300px) {
    .content-sidebar-wrap {
        grid-template-columns: 3fr 2fr;
    }
}

@media(max-width: 1000px) {
    .content-sidebar-wrap {
        display: flex;
        flex-direction: column;
    }

    .flex-wrap {
        flex-direction: column;
    }
}