.post-card {
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffff;
    border: solid 1px #e7e7e7;
    width: fit-content;
}

.post-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-img {
    height: auto;
    width: 50px;
}

.card-img {
    height: 15vh;
    width: 15vw;
}

.header-home {
    margin-top: 0;
    padding-top: 5px;
}

.h2-home {
    margin: 0 0 5px 0;
    padding: 5px 10px;
    background-color: #ffff;
    border-radius: 10px;
    border: solid 1px #e7e7e7;
}

.home-h2-wrap {
    display: flex;
    justify-content: space-between;
}

/* ARROW BUTTON */
.arrow-btn {
    font-size: 50px;
}