.posts-h1 {
    padding: 40px 0 0 50px;
}

.content-sidebar-c-posts {
    background-image: url(/img/archive-photo.jpg);
    height: 400px;
    background-size: cover;
}

.posts-container {
    margin-top: 2vh;
    background-color: #F9F9F9;
    border: solid 1px #e7e7e7;
    border-radius: 5px;
}

.post-cover {
    background-color: #ffff;
    margin: 20px;
    
}

.post-cover-img {
    height: auto;
    max-width: 400px;
}

.post-cover-text {
    margin: 0 auto;
    align-self: center;
    padding: 20px;
}

.post-cover-prev > p {
    background-color: #ffff;
    padding: 20px;
}

.posts-sort-wrap {
    display: flex;
    justify-content: space-between;
}

.sort-btn {
    align-self: flex-end;
    margin-bottom: 15px;
    background-color: #ffff;
    border: none;
    cursor: pointer;
}

.gallery-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.show-more-btn, .to-top-btn {
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show-more-btn {
    background-color: rgba(14, 57, 90, 0.6);
}

.to-top-btn {
    background-color: rgba(77, 14, 90, 0.6);
}

.butn-p {
    color: #ffff;
    margin: 0;
    padding: 10px 20px ;
}

/* SEARCH */
.search-list-container {
    background-color: #ffff;
    position: absolute;
    overflow: scroll;
    max-height: 50vh;
    top: 50px;
}

@media(max-width: 1100px) {
    .post-cover {
        flex-direction: column;
    }
}