.post-card {
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffff;
    border: solid 1px #e7e7e7;
    width: fit-content;
}

.post-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-img {
    height: auto;
    width: 50px;
}

.card-img {
    height: 15vh;
    width: 15vw;
}

.header-home {
    margin-top: 0;
    padding: 0;
}

.home-h2 {
    margin: 0;
    padding: 0;
}

.home-h2-wrap {
    display: flex;
    justify-content: space-between;
}

.round-buttons {
    height: 2vh;
    width: 2vh;
    background-color: rgba(14, 57, 90, 0.4);
    border-radius: 50%;
    margin: 5px;
}

.round-buttons-wrap {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
}

.round-next-btn {
    height: 40px;
    width: 40px;
    background-color: rgba(14, 57, 90, 0.4);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.round-next-btn-icon {
    color: #ffff;
    font-size: 1.5rem;
}

/* ARROW BUTTON */
.arrow-btn {
    font-size: 50px;
}