.post-card {
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    color: #4B4B4B;
}

.post-preview {
    padding: 20px;
}

.author-wrap {
    padding: 10px;
    border-right: solid 1px #4B4B4B;
}

.image-postcards-wrap {
    display: flex;
    flex-direction: column;
}

.image-postcards-i {
    background-color: #F9F9F9;
}

.post-card-container {
    background-color: #F9F9F9;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-img {
    height: auto;
    width: 50px;
}

/* ARROW BUTTON */
.arrow-btn {
    font-size: 50px;
}