.single-post-container {
    padding: 10px;
}

.author-name-img-wrap {
    padding: 15px;
    font-size: 0.7rem;
    text-align: center;
}

.featured-img-placeholder {
    position: relative;
    border: 1px solid #769f97;
}

.featured-img-placeholder-text {
    position: absolute;
    font-size: 5vw;
    top: 30%;
    left: 25%;
}