.single-post-container {
    padding: 10px;
}

.author-name-img-wrap {
    padding: 15px;
    font-size: 0.7rem;
    text-align: center;
}

.featured-img-placeholder {
    position: relative;
}

.featured-img-placeholder-text {
    position: absolute;
    top: 40%;
    left: 20%;
}