.single-post-container {
    padding: 10px;
}

.author-name-img-wrap {
    padding: 15px;
    font-size: 0.7rem;
    text-align: center;
}

.featured-img-placeholder {
    position: relative;
    border: 1px solid #769f97;
}

.featured-img-placeholder-text {
    position: absolute;
    color: #587771;
    font-size: 4vw;
    top: 30%;
    left: 20%;
}

.single-post-content-container :is(h2) {
    background-color: skyblue;
}

.single-post-content-container :is(img) {
    background-color: #F9F9F9;
    margin: 0;
    height: auto;
    width: 100%;
}

.single-post-content-container :is(figure) {
    margin: 0;
    padding: 0 50px 50px 0;
    background-color: #F9F9F9;
}