@import url(/css/header.css);
@import url(/css/post-cards.css);
@import url(/css/layout.css);
@import url(/css/gallery-slideshow.css);
@import url(/css/single-post.css);
@import url(/css/comment-section.css);
@import url(/css/posts.css);

@font-face {
    font-family: 'Perpetua Titling MT';
    src: url('/font/PerpetuaTitlingMTLight2.woff');
}
body {
    margin: 0 10vw;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

h2, h1 {
    font-family: auto-pro-new, sans-serif;
    font-weight: 300;
    color: #373737;
    padding: 5px;
    margin: 2rem 0 5px 0;
}

p {
    font-family: auto-pro-new, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: 5px;
    margin: 5px 0 10px 0;
    color: #373737;
}

.header-special {
    font-family: 'Perpetua Titling MT', sans-serif;
}

a {
    text-decoration: none;
    color: #373737;
    font-family: auto-pro-new, sans-serif;
    font-weight: 300;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
}

.auto-img {
    height: auto;
    width: 100%;
}

.underline {
    border-bottom: #4B4B4B solid 1px;
}

@media(max-width: 700px) {
    body {
        margin: 0;
    }
}