@import url(/css/header.css);

body {
    margin: 0 40px;
}

.booster-reactions-block {
    display: none;
}

.profile-img {
    border-radius: 50%;
}

.post-card {
    display: flex;
    background-color: rgb(236, 236, 236);
    margin: 15px;
    padding: 10px;
}

.author-wrap {
    margin: 20px;
}

h2 {
    font-family: auto-pro-new, sans-serif;
    font-weight: 300;
    color: #373737;
}

p {
    font-family: auto-pro-new, sans-serif;
    font-weight: 300;
    color: #373737;
}

.header-special {
    font-family: aviano-flare, sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #373737;
}

ul {
    list-style-type: none;
}